<div class="page_content">
  <div class="container">
    <div>
      <div class="heading">Tutorial</div>
      <div class="section"
           [class.is-show-section]="isShowSection">
        <div class="lesson-title">
          <div>Lesson {{ currentLesson }}: {{ lesson.title }}</div>
          <div class="lesson-count">{{ currentLesson }} of {{ lessons.length }}</div>
        </div>
        <div>{{ lesson.content }}</div>
      </div>
      <app-board [squares]="squares"
                 (onClicked)="lesson.boardClicked($event)">
        <div *ngIf="lesson.instructionsStart"
             class="instructions-bubble"
             [class.is-show-bubble]="isShowInstructionsStart">
          <div>{{ lesson.instructionsStart }}</div>
        </div>
        <div *ngIf="lesson.instructionsEnd"
             class="instructions-bubble"
             [class.is-show-bubble]="isShowInstructionsEnd">
          <div>{{ lesson.instructionsEnd }}</div>
          <div class="instructions-bubble-footer">
            <button class="btn btn-default"
                    (click)="nextLesson()">Next</button>
          </div>
        </div>
      </app-board>
      <button *ngIf="currentLesson === lessons.length"
              class="btn btn-block"
              (mouseenter)="playBlipSound()"
              (click)="showSelectLevel()">
        <div class="icon icon-medium icon-star-outline"></div>Play
      </button>
    </div>
  </div>
</div>
