<div class="board-container noselect">
  <div class="board">
    <div class="board-row" *ngFor="let squares of boardRows; let row=index; trackBy:boardRowTrackByFn">
      <div class="board-square-container"
           *ngFor="let square of squares; let col=index; trackBy:squareTrackByFn">
        <div class="board-square"
             [class.board-square--green]="square.selected"
             [class.board-square--red]="!square.selected"
             [class.board-square--highlight]="square.highlighted">
          <div class="board-square-icon-container">
            <span class="board-square-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
