@import (reference) "../app.variables.less";

.info_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 34px;
  font-weight: 200;
  line-height: 34px;
  color: @jumbotron-bg-color;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
}

.section-heading {
  font-size: 21px;
  padding-top: 30px;
  color: @jumbotron-bg-color;
}

.section-content {
  font-size: 21px;
  font-weight: 200;
  line-height: 41px;
  padding-top: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a.link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 400;

  &:link,
  &:visited {
    color: #265301;
  }

  &:hover {
    box-shadow: 0 0 15px 5px #3053ff;
  }
}

.make-em-green-logo {
  width: 34px;
  height: 34px;
  display: inline-block;

  .tile {
    width: 15px;
    height: 15px;
    margin: 1px;
    float: left;

    &.tile-green {
      background-color: @selected-color;
    }

    &.tile-red {
      background-color: @unselected-color;
    }

  }
}

.logo {
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;

  &:hover {
    opacity: 0.6;
    box-shadow: 0 0 15px 5px #3053ff;
  }
}

.logo-angular {
  background-image:url(assets/logos/angular.svg);
}

.logo-typescript {
  background-image:url(assets/logos/typescript.png);
}

.logo-howlerjs {
  background-image:url(assets/logos/howlerjs.jpg);
}

.logo-fontawesome {
  background-image:url(assets/logos/fontawesome.png);
}

.logo-freesound {
  background-size: 288px 100px;
  width: 288px;
  background-image:url(assets/logos/freesound.png);
}

.logo-github {
  background-size: 100px 41px;
  width: 100px;
  height: 41px;
  vertical-align: top;
  background-image:url(assets/logos/github.png);
}
