/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


@import '../../vendor/bootstrap/less/bootstrap.less';

@import 'variables.less';


// ---- Bootstrap customizations for main page ----

.jumbotron {
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  position: relative;

  h1 {
    font-size: 50px;
    margin-top: 10px;
  }
}

.modal-dialog {
  margin-top: 256px;
}

// ---- Own styles for main page ----

.greenHighlight {
  color: greenyellow;
}

.version {
  color: white;
  position: absolute;
  right: 7px;
  bottom: 5px;
}
// ---- Styles for all the submodules and components we are using. ----

@import '../app/menu/menu.less';
@import '../app/home/home.less';

