<div class="page_content">
  <div class="text-center">
    <button type="button" class="btn btn-default btn-lg" [disabled]="gameState.selectedLevel === 1" (mouseenter)="playBlipSound()" (click)="selectPreviousLevel()">
      <span class="icon icon-caret-left"></span>
    </button>
    <span class="badge">Level {{gameState.selectedLevel}}</span>
    <button type="button" class="btn btn-default btn-lg" [disabled]="gameState.selectedLevel === 100" (mouseenter)="playBlipSound()" (click)="selectNextLevel()">
      <span class="icon icon-caret-right"></span>
    </button>
  </div>

  <app-board
    [isLevelLocked]="isLevelLocked"
    [isShowSolved]="isShowSolved()"
    [starsEarned]="gameState.starsEarned"
    [squares]="squares"
    (onClicked)="boardClicked($event)">
  </app-board>

  <div class="text-center">
    <button type="button" class="btn btn-default btn-lg" (mouseenter)="playBlipSound()" (click)="showHome()">
      <span class="icon icon-home"></span>
    </button>
    <span class="badge" *ngIf="isShowSolved()">Your Best: {{gameState.bestSolution}} Moves</span>
    <span class="badge" *ngIf="!isShowSolved()">Moves Left: {{movesLeft}}</span>
    <button type="button" class="btn btn-default btn-lg" [disabled]="isLevelLocked" (mouseenter)="playBlipSound()" (click)="replay()">
      <span class="icon icon-refresh"></span>
    </button>
  </div>

  <div *ngIf="isShowModal" class="modal-backdrop"></div>
  <div *ngIf="isShowModal"
       [@fadeInOut]="in"
       class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{modalContents.title}}</div>
          <div class="modal-stars-container">
            <span class="icon icon-not-clickable"
                  [class.icon-star]="star"
                  [class.icon-star-outline]="!star"
                  *ngFor="let star of modalContents.starsEarned">
            </span>
          </div>
        </div>
        <div class="modal-body">
          {{modalContents.message}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (mouseenter)="playBlipSound()" (click)="modalContents.okHandler()">{{modalContents.okText}}</button>
          <button class="btn btn-warning" (mouseenter)="playBlipSound()" (click)="modalContents.cancelHandler()">{{modalContents.cancelText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
