<div class="page"
     [ngClass]="themeClassObject">
  <div class="container">
    <div class="jumbotron">
      <div class="make-em-green-logo"
           (mouseenter)="playBlipSound()"
           (click)="showHome()">
        <div class="tile tile-green"></div>
        <div class="tile tile-green"></div>
        <div class="tile tile-green"></div>
        <div class="tile tile-red"></div>
      </div>
      <div class="heading">Make 'em <span class="greenHighlight">Green</span></div>
      <div (mouseenter)="playBlipSound()"
           (click)="toggleSound()"
           class="sound"
           [class.sound-on]="isSoundOn"
           [class.sound-off]="!isSoundOn"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
