<div class="page"
     [class.theme-classic]="theme === 'classic'"
     [class.theme-cat]="theme === 'cat'"
     [class.theme-fruit]="theme === 'fruit'"
     [class.theme-reptile]="theme === 'reptile'"
     [class.theme-amphibian]="theme === 'amphibian'"
     [class.theme-mineral]="theme === 'mineral'"
     [class.theme-plant]="theme === 'plant'">
  <div class="container">
    <div class="jumbotron">
      <div class="make-em-green-logo"
           (mouseenter)="playBlipSound()"
           (click)="showHome()">
        <div class="tile tile-green"></div>
        <div class="tile tile-green"></div>
        <div class="tile tile-green"></div>
        <div class="tile tile-red"></div>
      </div>
      <div class="heading">Make 'em <span class="greenHighlight">Green</span></div>
      <div (mouseenter)="playBlipSound()"
           (click)="toggleSound()"
           class="sound"
           [class.sound-on]="isSoundOn"
           [class.sound-off]="!isSoundOn"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
