/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@jumbotron-bg-color:            #124605;
@jumbotron-text-color:          #FFFFFF;

@selected-color:                #008000;
@unselected-color:              #c50000;
