<div class="board-container noselect">
  <ng-content></ng-content>
  <div class="overlay"
       *ngIf="isLevelLocked"
       [@fadeIn]="in">
      <span class="lock-container">
        <span class="icon icon-lock lock-icon"></span>
      </span>
    <span class="lock-label">Locked</span>
  </div>
  <div class="overlay"
       *ngIf="isShowSolved"
       [@fadeIn]="in">

      <span class="star-container">
              <span class="icon icon-large"
                    *ngFor="let star of starsEarned"
                    [ngClass]="{
                          'icon-star': star,
                          'icon-star-outline': !star
                      }"></span>
          </span>

    <span class="solved-label">Solved</span>
  </div>
  <div class="board"
       [class.is-shake-board]="boardAnim === 'shake'"
       [class.is-shrink-board]="boardAnim === 'shrink'">
    <div class="board-row" *ngFor="let squares of boardRows; let row=index; trackBy:boardRowTrackByFn">
      <div class="flip-card-container board-square-container"
           *ngFor="let square of squares; let col=index; trackBy:squareTrackByFn"
           (click)="clickSquare(row,col)"
           (mouseenter)="mouseEnterSquare(row,col)"
           (mouseleave)="mouseLeaveSquare(row,col)"
           [class.show-card-back]="!square.selected"
           [class.disabled]="square.disabled">
        <div class="flip-card">
          <div class="flip-card-front board-square board-square--green"
               [class.hover]="square.hover">
            <div class="board-square-icon-container">
              <span class="board-square-icon board-square-icon-good"></span>
            </div>
          </div>
          <div class="flip-card-back board-square board-square--red"
               [class.hover]="square.hover">
            <div class="board-square-icon-container">
              <span class="board-square-icon board-square-icon-bad"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
