@import (reference) "../app.variables.less";

.grid {
  display: flex;
}

.grid-cell {
  flex: 1;

  @media (hover:hover) {
    &:hover .icon {
      opacity: 1;
    }
  }

}

.grid--gutters {
  margin: -5px 0 0 -5px;
  padding-bottom: 5px;
}

.grid--gutters > .grid-cell {
  padding: 5px 0 0 5px;
}
