<div class="text-center">
    <button type="button" class="btn btn-default btn-lg" ng-disabled="gameState.selectedLevel === 1" ng-click="selectPreviousLevel()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <span class="badge">Level {{gameState.selectedLevel}}</span>
    <button type="button" class="btn btn-default btn-lg" ng-disabled="gameState.selectedLevel === 100" ng-click="selectNextLevel()">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>
<div class="board-container noselect">
    <div class="overlay" ng-show="gameState.isLevelLocked">
        <span class="lock-icon glyphicon glyphicon-lock"></span>
        <span class="lock-label">Locked</span>
    </div>
    <div class="overlay" ng-show="isShowSolved()">
        <span class="solved-background"></span>

        <span class="star-container">
            <span class="glyphicon"
                 ng-repeat="star in gameState.starsEarned"
                 ng-class="{
                        'solved-icon glyphicon-star': star.earned,
                        'unsolved-icon glyphicon-star-empty': !star.earned
                    }"></span>
        </span>

        <span class="solved-label">Solved</span>
    </div>
    <div class="board">
        <div class="board-square"
             ng-repeat="square in gameState.squares"
             ng-click="clickSquare($index)"
             ng-class="{selected: square.selected}">&nbsp;</div>
    </div>
</div>
<div class="text-center">
    <button type="button" class="btn btn-default btn-lg" ng-click="showMenu()">
        <span class="glyphicon glyphicon-home"></span>
    </button>
    <span class="badge" ng-show="isShowSolved()">Your Best: {{gameState.bestSolution}} Moves</span>
    <span class="badge" ng-show="!isShowSolved()">Moves Left: {{gameState.movesLeft}}</span>
    <button type="button" class="btn btn-default btn-lg" ng-disabled="gameState.isLevelLocked" ng-click="replay()">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
</div>

<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{modalContents.title}}</h3>
    </div>
    <div class="modal-body">
        {{modalContents.message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{modalContents.okText}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{modalContents.cancelText}}</button>
    </div>
</script>
