<div class="page_content">
  <div class="container">
    <div class="well well-lg">
      <p class="lead">In a world where there are <span class="highlight unselected">non-green</span> blocks, you have been tasked with making them all <span class="highlight selected">green</span>!</p>
    </div>
    <button *ngIf="!isAnySolved" class="btn btn-default btn-block btn-start" (mouseenter)="playHoverSound()" (click)="showLevel(1)">Start</button>
    <div *ngIf="isAnySolved">
      <div class="heading">Select a level</div>
      <div class="levels">
        <div class="levels-row" *ngFor="let levels of levelRows; let row=index; trackBy:levelRowTrackByFn">
          <div class="level-container"
               *ngFor="let level of levels; let col=index; trackBy:levelTrackByFn"
               (click)="clickLevel(row,col)"
               (mouseenter)="playHoverSound()">
            <div class="level">
              <div class="level-icon-container"
                   [class.level-icon-container-current]="!level.isSolved && !level.isLocked">
                <span [class.level-icon-solved]="level.isSolved"
                      [class.one-star]="level.numStars === 1"
                      [class.two-stars]="level.numStars === 2"
                      [class.three-stars]="level.numStars === 3"
                      [class.level-icon-locked]="level.isLocked"
                      [class.level-icon-current]="!level.isSolved && !level.isLocked"
                      class="level-icon" ></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
