<div class="page_content">
  <div class="container">
    <div class="well well-lg">
      <p class="lead">In a world where there are <span class="highlight unselected">non-green</span> blocks, you have been tasked with making them all <span class="highlight selected">green</span>!</p>
    </div>
    <div class="grid grid--gutters">
      <div class="grid-cell">
        <button class="btn btn-block" (mouseenter)="playBlipSound()" (click)="showSelectLevel()"><div class="icon icon-star-outline"></div>Play</button>
      </div>
    </div>
    <div class="grid grid--gutters">
      <div class="grid-cell">
        <button class="btn btn-block" (mouseenter)="playBlipSound()" (click)="showSettings()"><div class="icon icon-settings"></div>Settings</button>
      </div>
      <!--TODO Tutorial -->
      <!--<div class="grid-cell">-->
        <!--<button class="btn btn-block" (mouseenter)="playBlipSound()" (click)="showTutorial()"><div class="icon icon-tutorial"></div>Tutorial</button>-->
      <!--</div>-->
      <div class="grid-cell">
        <button class="btn btn-block" (mouseenter)="playBlipSound()" (click)="showInfo()"><div class="icon icon-info"></div>About</button>
      </div>
    </div>

  </div>
</div>
