<div class="page_content">
  <div class="container">
    <div>
      <div class="heading">Settings</div>
      <div class="section">
        <div class="sub-heading">Theme</div>
        <div class="themes-container">
          <div class="theme-item"
               [class.selected]="model.selectedTheme === theme"
               (mouseenter)="playBlipSound()"
               (click)="clickTheme(theme)"
               *ngFor="let theme of model.themes">
              <app-theme-option theme="{{ theme }}"></app-theme-option>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
